<!DOCTYPE html>
<!--
The MIT License

Copyright 2018 Wikimark.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<html>
    <head th:replace="template :: head(title='Home')">
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" href="../..//lib/font-awesome-4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" href="../../css/normalize.css"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/skeleton.css}" href="../../css/skeleton.css"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/wikimark.css}" href="../../css/wikimark.css"/>
    </head>
    <body>
        <header th:replace="template :: header"/>
        <main>
            <div class="container">
                <form th:action="@{/pages}" method="get">
                    <div class="row">
                        <div class="ten columns">
                            <input type="text" name="query" class="u-full-width" placeholder="Enter your seach here...">
                        </div>
                        <div class="two columns">
                            <button type="submit" class="button-primary">Search</button>
                        </div>
                    </div>
                </form>
                <p th:if="${pages.isEmpty()}">
                    There are no pages... yet. <a th:href="@{/pages/new-page}">Create one!</a>
                </p>
                <ol class="search-results" th:if="${not pages.isEmpty()}"
                    th:remove="all-but-first">
                    <li th:each="page : ${pages}" class="row">
                        <a th:href="@{/pages/{page}(page=${page.name()})}" th:text="${page.title}"
                           role="title">
                            The title
                        </a>
                        <p class="author" th:text="|by ${page.author()}|">by John Smith</p>
                        <ul class="tags" th:remove="all-but-first">
                            <li th:each="tag : ${page.keywords()}" th:text="${tag}">tag1</li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href=# role="title">The title</a>
                        </div>
                        <p class="author">by John Smith</p>
                        <ul class="tags">
                            <li>tag1</li>
                            <li>tag2</li>
                            <li>tag3</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </main>
    </body>
</html>
