<!DOCTYPE html>
<!--
The MIT License

Copyright 2018 Wikimark.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<html>
    <head th:replace="template :: head(title=${page.title()})">
        <title>The title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="template :: header"/>
        <div class="container">
            <article class="row">
                <main class="ten columns">
                    <div th:utext="${page.content()}">The content</div>
                </main>
                <header class="meta two columns">
                    <a th:href="@{/pages/{page}/edit(page=${page.name()})}" th:if="${#request.isUserInRole('editor')}" class="button">Edit</a>
                    <div class="row">
                        <label>Title</label>
                        <p th:text="${page.title()}">The title</p>
                    </div>
                    <div class="row">
                        <label>Created by</label>
                        <a th:href="@{/pages(query=${page.author()})}" th:text="${page.author}">John Smith</a>
                    </div>
                    <div class="row">
                        <label>on</label>
                        <p th:text="${#temporals.formatISO(page.creationTime())}"> july 14, 2018</p>
                    </div>
                    <div class="row">
                        <label>Tags</label>
                        <ul class="tags">
                            <li th:each="tag : ${page.keywords()}">
                                <a th:href="@{/pages(query=${tag})}" th:text="${tag}">etiqueta</a>
                            </li>
                        </ul>
                    </div>
                </header>
            </article>
        </div>
    </body>
</html>
