<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>org.wikimark.Application</listener-class>
    </listener>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Edition</display-name>
        <web-resource-collection>
            <web-resource-name>Secure resources</web-resource-name>
            <description>Modification of any resource requires the "editor" role.</description>
            <url-pattern>/pages/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>New page</web-resource-name>
            <description>New page requieres the "editor" role.</description>
            <url-pattern>/new-page</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Attachments</web-resource-name>
            <description>Attachments pages (but not attached files) require the "editor" role.</description>
            <url-pattern>/attachments</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>editor</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>wikimark</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/login.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>editor</role-name>
    </security-role>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/errors/not-found.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/errors/500.jsp</location>
    </error-page>
</web-app>
